.form-heading{
    font-size: xx-large;
    color: #fbf9fe;
    margin-bottom: 70px;
}

.form-inner-container{
    padding: 40px;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow:
    2px 2px 1.6px rgba(0, 0, 0, 0.017),
    4.5px 4.5px 3.6px rgba(0, 0, 0, 0.024),
    7.9px 7.9px 6.3px rgba(0, 0, 0, 0.03),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    19.3px 19.3px 15.5px rgba(0, 0, 0, 0.04),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.046),
    50px 50px 40px rgba(0, 0, 0, 0.053),
    100px 100px 80px rgba(0, 0, 0, 0.07)
;
background-color: #e5e5f7;
opacity: 0.7;
background: linear-gradient(135deg, #00000055 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(225deg, #000000 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 22px 22px, linear-gradient(45deg, #000000 25%, #e5e5f7 25%) 0px 0/ 22px 22px;





    .form-input{
        width: 70%;
        font-size: x-large;
    }
    
    .form-input-button{
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
        font-size: large;
        width: 30%;
        &:hover{
            transform: scale(1.1);
            background-color: black;
            color: grey;
        }
    }
}